<h2 class="bg-color text-xl"><b> Life Certificate</b></h2>

<div class="card py-4">
    <form [formGroup]="lifeCertificateForm">
        <div class="row">
            <p-divider align="left" type="solid">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-clone mr-2"></i>
                    <b>Life Certificate</b>
                </div>
            </p-divider>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-3">
                    <p>Total No. Of Pensioner: {{ Fpn }}</p>
                </div>
                <div class="field col-12 md:col-3">
                    <p>LIC Submitted: 0</p>
                </div>
                <div class="field col-12 md:col-3">
                    <p>LIC Not Submitted: 0</p>
                </div>
                <div class="field col-12 md:col-3">
                    <p>No Action Taken: 19</p>
                </div>

                <div class="field col-12 md:col-6">
                    <div
                        class="formgroup-inline"
                        style="display: flex; align-items: center"
                    >
                        <label class="mr-3 text-lg" for="financialYear"
                            >Financial Year:</label
                        >
                        <p-calendar
                            id="financialYear"
                            formControlName="financialYear"
                            [view]="'year'"
                            [dateFormat]="'yy'"
                            placeholder="Select a year"
                            [ngStyle]="{ flex: '1' }"
                        ></p-calendar>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton
                            value="NewPPO"
                            formControlName="newPPO"
                        ></p-radioButton>
                        <label>New PPO</label>
                    </div>
                </div>

                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton
                            value="updatedPPO"
                            formControlName="newPPO"
                        ></p-radioButton>
                        <label>Updated PPO</label>
                    </div>
                </div>
                <div class="field col-12 md:col-8">
                    <div
                        class="formgroup-inline"
                        style="display: flex; align-items: center"
                    >
                        <label class="mr-3 text-lg" for="branchName"
                            >Bank Branch Name:</label
                        >
                        <input
                            type="text"
                            pInputText
                            placeholder="Branch Name"
                            formControlName="branchName"
                            style="flex: 1"
                        />
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-search"
                            class="ml-2"
                            (click)="searchOne()"
                        ></button>
                    </div>
                </div>
                <div class="md:col-2">
                    <p-button
                        label="Search"
                        icon="pi pi-search"
                        iconPos="right"
                        class="mx-5 mt-2"
                        (click)="searchTwo()"
                    ></p-button>
                </div>
            </div>
            <div
                style="
                    border-bottom: 1px solid rgba(139, 167, 184, 0.514);
                    margin: 20px 0;
                "
            ></div>
            <!-- Refresh Button -->
            <div class="w-full text-center mt-2">
                <button
                    pButton
                    pRipple
                    (click)="onRefresh()"
                    type="refresh"
                    class="p-button-raised p-button-info"
                    [disabled]="!lifeCertificateForm.valid"
                >
                    <i class="pi pi-refresh mr-2"></i> Refresh
                </button>
            </div>
        </div>
    </form>
</div>
