.flex-col {
  flex-direction: column;
  margin: 0 20px; /* add some space between the input boxes */
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

label {
  margin-bottom: 10px;
}