.bg-color {
  background-color: #a7c7e3;
  padding: 5px;
  border-radius: 5px;
}

label{
  color: #0e0e10;
  font-weight: bold;
  font-size: large;
}
p-radioButton{
  color: #0e0e10;
  font-weight: bold;
  font-size: 16px;
}