<div class="container">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <div class="flex flex-column gap-4 mt-4">
          <div class="my-4 px-4">
            <form [formGroup]="ApprovalForm">
              <div class="col-12 md:col-12">
                <p-fieldset legend="PPO Approval" class="line-height-3 m-0">
                  <div class="formgroup-inline">
                    <div class="grid col-8">
                      <label for="PpoId" class="col-12 md:col-2">PPO ID:</label>
                      <input
                        class="col-12 md:col-4"
                        id="PpoId"
                        type="text"
                        pInputText
                        formControlName="ppoId"
                        placeholder="PPO ID"
                      />
                      <app-popup-table
                        name=""
                        [service$]="idList$"
                        (return)="handlePpoSearchEvent($event)"
                        [buttonStyle]="{ width: '200%', height: '50px' }"
                      ></app-popup-table>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </form>

            <!-- Add p-dialog around the table -->
            <p-dialog
              header="PPO Details"
              [(visible)]="showTable"
              [breakpoints]="{ '1199px': '75vw', '991px': '90vw', '575px': '100vw' }" [maximizable]="true"
              [modal]="true"
              (onHide)="onDialogClose()"
            >
              <div class="col-12">
                <table class="table p-datatable p-component">
                  <thead>
                    <tr>
                      <th>PPO Id</th>
                      <th>PPO Number</th>
                      <th>Pensioner's Name</th>
                      <th>Payment Mode</th>
                      <th>Account Holder</th>
                      <th>Bank Name</th>
                      <th>Bank Branch Name</th>
                      <th>IFSC Code</th>
                      <th>Bank Account Number</th>
                      <!-- <th>Expiry Date</th> -->
                      <th>Commencement Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tableData">
                      <ng-container>
                        <td>{{ item.response.ppoId }}</td>
                        <td>{{ item.response.ppoNo }}</td>
                        <td>{{ item.response.pensionerName }}</td>
                        <td>{{ item.response.payMode == 'Q' ? "Treasury":"Bank" }}</td>
                        <td>{{ item.response.accountHolderName }}</td>
                        <td>{{ item.bankName }}</td>
                        <td>{{ item.branchName }}</td>
                        <td>{{ item.response.branch.ifscCode }}</td>
                        <td>{{ item.response.bankAcNo }}</td>
                        <td>
                          {{ item.response.dateOfCommencement | date: 'dd-MM-yyyy' }}
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex flex-wrap gap-2 w-full justify-content-center">
                <p-button
                  label="Approve"
                  icon="pi pi-check"
                  [disabled]="allowApproval"
                  styleClass="p-button-success"
                  (click)="approve(allowApproval)">
              </p-button>
              </div>
            </p-dialog>
          </div>
        </div>

        <div class="flex flex-col mt-1 align-items-center justify-content-center">
          <div class="flex flex-wrap gap-2">
            <button
              pButton
              pRipple
              (click)="onRefresh()"
              type="button"
              class="p-button-raised p-button-info"
            >
              Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
