<div class="container">
    <div class="grid">
      <div class="col-12">
        <div class="card">
  
          <!-- Step Navigation and Action Buttons -->
          <div *ngIf="!viewMode">
            <p-steps [model]="steps" [(activeIndex)]="currentStepIndex"></p-steps>
            <div class="my-4 px-4">

                <!-- PPO and OtherDetails -->
                <div *ngIf="currentStepIndex === 0" class="flex flex-column gap-3">
                   <app-details [ppoId]="ppoId"></app-details>
                </div>


                <!-- BankDetails -->
                <div *ngIf="currentStepIndex === 1" class="flex flex-column gap-3">
                    <app-bank-details></app-bank-details>
                </div>


                <div *ngIf="currentStepIndex === 2" class="flex flex-column gap-3">
                    <!-- add from for sanction -->
                    <app-sanction></app-sanction>
                </div>

                <div *ngIf="currentStepIndex === 3" class="flex flex-column gap-3">
                    <app-family-nominee></app-family-nominee>
                </div>
        </div>
            <div class="flex flex-col mt-1 align-items-center justify-content-center">
              <p-button 
                label="Back" 
                icon="pi pi-step-backward" 
                styleClass="p-button-warning"
                (click)="prev()">
              </p-button>
              <p-button 
                label="Next" 
                *ngIf="currentStepIndex < 3" 
                [disabled]="!isFormValid" 
                icon="pi pi-step-forward"
                styleClass="p-button-success" 
                (click)="next()">
              </p-button>
              <p-button 
                label="Submit" 
                *ngIf="currentStepIndex === 3" 
                [disabled]="!isFormValid" 
                icon="pi pi-bookmark"
                styleClass="p-button-raised" 
                (click)="next()">
              </p-button>
            </div>
          </div>
  
          <!-- Table View -->
          <div *ngIf="viewMode" class="flex flex-column gap-4 mt-4">
            <p-fieldset legend="All PPO" class="line-height-3 m-0">
              <div class="relative p-4 m-4">
                <div class="absolute left-0">
                  <span class="p-float-label">
                    <input 
                      [(ngModel)]="ppoSearchField" 
                      id="inputtext" 
                      pInputText 
                      (ngModelChange)="search()" 
                    />
                    <label for="inputtext">Search</label>
                  </span>
                </div>
                <div class="absolute right-0">
                  <button 
                    pButton 
                    pRipple 
                    icon="pi pi-plus" 
                    (click)="newPPOEntry()">
                  </button>
                </div>
              </div>
  
              <!-- Table Container with Scroll -->
              <div class="table-wrapper">
                <p-table 
                  [value]="data.data" 
                  selectionMode="single" 
                  [scrollable]="true" 
                  [loading]="isLoading">
                  <ng-template pTemplate="header">
                    <tr>
                      <th *ngFor="let col of cols">{{ col.header }}</th>
                      <th>Edit</th> <!-- Add a header for the Edit column -->
                    </tr>
                  </ng-template>
  
                  <ng-template pTemplate="body" let-record>
                    <tr>
                      <td *ngFor="let col of cols">{{ record[col.field] }}</td>
                      <td>
                        <p-button 
                          icon="pi pi-pencil" 
                          class="p-button-text" 
                          (click)="editThisRecord(record)">
                        </p-button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
  
              <!-- Table Message -->
              <div class="m-4 text-center">
                <h1>{{ tableMsg }}</h1>
              </div>
            </p-fieldset>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  