<div class="grid">
    <div class="col-12">
        <app-common-header [headerName]="'Invoice Receive'" [imgSrc]="'assets/layout/images/icons/invoice-received.png'">
        </app-common-header>
    </div>
    <div class="col-12">
        <mh-prime-dynamic-table (actionButtonClicked)="handleButtonClick($event)" [numberRowsShown]="10" [showTopMenubar]="true"
            [rowsPerPageOptions]="[10,30,50]" [actionButtons]="tableActionButton"
            [data]="tableData" >
        </mh-prime-dynamic-table>
    </div>
</div>