<h2 class="bg-color text-xl"><b>Component Rate</b></h2>
<div class="card p-2">
    <form [formGroup]="ComponentRateForm" (ngSubmit)="onSubmit($event)">
        <div class="row">
            <div class="col-md-12 mb-2 mt-2">
                <div class="px-2 md:px-4">
                    <div class="row">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label
                                    htmlFor="selectPensionProperty"
                                    class="text-lg"
                                    ><b>Select Pension Category</b></label
                                >

                                <input
                                    style="width: 91%"
                                    pInputText
                                    pInputText
                                    type="text"
                                    formControlName="categoryName"
                                />

                                <app-popup-table
                                    name=""
                                    [service$]="allPensionCategory$"
                                    (return)="
                                        handleSelectedRowByPensionCategory(
                                            $event
                                        )
                                    "
                                ></app-popup-table>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="selectComponent" class="text-lg"
                                    ><b>Select Component</b></label
                                >
                                <input
                                    style="width: 91%"
                                    pInputText
                                    type="text"
                                    formControlName="componentName"
                                />

                                <app-popup-table
                                    name=""
                                    [service$]="pensionComponent$"
                                    (return)="
                                        handleSelectedRowByPensionComponent(
                                            $event
                                        )
                                    "
                                ></app-popup-table>
                            </div>

                            <div class="field col-12 md:col-5">
                                <label htmlFor="date" class="text-lg"
                                    ><b>Date</b></label
                                >

                                <p-calendar
                                    [showIcon]="true"
                                    [focusTrap]="true"
                                    dateFormat="dd-mm-yy"
                                    formControlName="effectiveFromDate"
                                ></p-calendar>
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="text-lg"
                                    ><b>Rate Type P/A</b></label
                                >
                                <p-dropdown
                                    (onChange)="onSelectRtaeRateType($event)"
                                    [options]="[
                                        { label: 'A', value: 'A' },
                                        { label: 'P', value: 'P' }
                                    ]"
                                    formControlName="rateType"
                                    placeholder="P/A"
                                ></p-dropdown>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label class="text-lg"
                                    ><b>{{ amountLabel }}</b></label
                                >
                                <input
                                    pInputText
                                    type="text"
                                    formControlName="rateAmount"
                                    [placeholder]="amountPlaceholder"
                                />
                            </div>
                        </div>

                        <div
                            class="flex flex-col mt-1 align-items-center justify-content-center"
                        >
                            <!-- Save Button -->
                            <div class="flex flex-wrap gap-2 mx-2">
                                <button
                                    type="submit"
                                    pButton
                                    pRipple
                                    class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
                                    [disabled]="!ComponentRateForm.valid"
                                >
                                    <i class="pi pi-check mr-2"></i> Submit
                                </button>
                            </div>

                            <!-- Refresh Button -->
                            <div class="flex flex-wrap gap-2 mx-2">
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    (click)="resetAndReload()"
                                    class="px-3 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                                >
                                    <i class="pi pi-refresh mr-2"></i>Refresh
                                </button>
                            </div>
                        </div>

                        <!-- for ListView table -->
                        <div *ngIf="data">
                            <div
                                class="flex justify-center card mx-6 mt-2 py-0"
                            >
                                <div class="col-12">
                                    <h5>Component Detail</h5>
                                    <hr class="border-b-2 h-10 border-dashed" />

                                    <p-table
                                        [value]="records"
                                        class="justify-center"
                                        [scrollable]="true"
                                        scrollHeight="600px"
                                        [loading]="loading"
                                    >
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th
                                                    *ngFor="let col of cols"
                                                    pSortableColumn="{{
                                                        col.field
                                                    }}"
                                                >
                                                    {{ col.header
                                                    }}<p-sortIcon
                                                        [field]="col.field"
                                                    ></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>

                                        <ng-template
                                            pTemplate="body"
                                            let-record
                                        >
                                            <tr>
                                                <td *ngFor="let col of cols">
                                                    {{ record[col.field] }}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
