<form [formGroup]="ComponentRateForm" (ngSubmit)="onSubmit()">
    <div class="container mx-auto">
        <div class="card" style="width: 95%; align-items: center">
            <p-fieldset
                legend="Component Rate"
                class="line-height-3 m-0 text-lg"
            >
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <div class="p-input-icon-right">
                            <div>
                                <label
                                    htmlFor="selectPensionProperty"
                                    class="text-lg"
                                    >Select Pension Category</label
                                >
                            </div>

                            <input
                                [ngStyle]="{ 'border-color': 'black' }"
                                class="bg-cyan-100"
                                style="width: 95%"
                                pInputText
                                pInputText
                                type="text"
                                formControlName="categoryName"
                                
                            />

                            <app-search-popup
                                name=""
                                [service$]="allPensionCategory$"
                                (return)="
                                    handleSelectedRowByPensionCategory($event)
                                "
                            ></app-search-popup>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <div class="p-input-icon-right">
                            <label htmlFor="selectComponent" class="text-lg"
                                >Select Component</label
                            >
                            <input
                                [ngStyle]="{ 'border-color': 'black' }"
                                class="bg-cyan-100"
                                style="width: 91%"
                                pInputText
                                type="text"
                                formControlName="componentName"
                            />

                            <app-search-popup
                                name=""
                                [service$]="pensionComponent$"
                                (return)="
                                    handleSelectedRowByPensionComponent($event)
                                "
                            ></app-search-popup>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <div class="">
                            <label htmlFor="date" class="text-lg">Date</label>

                            <p-calendar
                                formControlName="effectiveFromDate"
                            ></p-calendar>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="text-lg">Rate Type P/A</label>
                        <p-dropdown (onChange)="onSelectRtaeRateType($event)"
                            [options]="[
                                { label: 'A', value: 'A' },
                                { label: 'P', value: 'P' }
                            ]"
                            formControlName="rateType"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="text-lg">Amount</label>
                        <input
                            pInputText
                            type="text"
                            formControlName="rateAmount"
                            [placeholder]="amountPlaceHolder"
                        />
                    </div>
                </div>
            </p-fieldset>
            <div class="w-full text-center mt-2">
                <button
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-raised p-button-info"
                    [disabled]="!ComponentRateForm.valid"
                    (ngClick)="onSubmit()"
                >
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>
