<div class="w-full">
    <div class="card w-full">
        <div class="row">
            <form [formGroup]="sanctionDetails">

                <p-divider align="left" type="solid">
                    <div class="inline-flex align-items-center mb-2">
                        <i class="pi pi-clone mr-2"></i>
                        <b>Details of Service Holder :</b>
                    </div>
                </p-divider>

                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label><b> Name of Service Holder:</b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeName">
                    </div>
                <div class="field col-12 md:col-2">
                    <label><b> Ppo Id:</b></label>
                    <input class="w-full p-3  border-inherit" type="text" pInputText class="" formControlName="ppoId">
                </div>

                <div class="field col-12 md:col-2">
                    <label><b> PensionerId:</b></label>
                    <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                        formControlName="pensionerId">
                </div>
                </div>

                <p-divider align="left" type="solid">
                    <div class="inline-flex align-items-center mb-2">
                        <i class="pi pi-clone mr-2"></i>
                        <b>Sanction Details</b>
                    </div>
                </p-divider>
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label><b> Sanction Authority: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="sanctionAuthority">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label><b> Sanction No.: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="sanctionNo">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label><b> Sanction Date: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="sanctionDate">
                    </div>
                </div>
                <p-divider align="left" type="solid">
                    <div class="inline-flex align-items-center mb-2">
                        <i class="pi pi-clone mr-2"></i>
                        <b>Office and Personal Details of Service Holder</b>
                    </div>
                </p-divider>

                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label><b> Date of Birth: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeDob">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b> Gender: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeGender">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b> Date of Appointment: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeDateOfAppointment">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Office Name: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeOffice">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Post Held: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeDesignation">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Last Pay: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeLastPay">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Average Amolument: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="averageEmolument">
                    </div>

                    <div class="field col-12 md:col-2">
                        <label><b>HRMS Unique ID of Service Holder: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="employeeHrmsId">
                    </div>
                </div>

                <p-divider align="left" type="solid">
                    <div class="inline-flex align-items-center mb-2">
                        <i class="pi pi-clone mr-2"></i>
                        <b>Issuing Authority</b>
                    </div>
                </p-divider>

                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label><b>Issuing Authority: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="issuingAuthority">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Letter No.: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="issuingLetterNo">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Letter Date: </b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="issuingLetterDate">
                    </div>
                </div>

                <p-divider align="left" type="solid">
                    <div class="inline-flex align-items-center mb-2">
                        <i class="pi pi-clone mr-2"></i>
                        <b>Qualifying Service</b>
                    </div>
                </p-divider>
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label><b> Gross Year :</b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="qualifyingServiceGrossYears">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Gross Month :</b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="qualifyingServiceGrossMonths">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Gross Day :</b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="qualifyingServiceGrossDays">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Net Year :</b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="qualifyingServiceNetYears">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Net Month :</b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="qualifyingServiceNetMonths">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label><b>Net Day :</b></label>
                        <input class="w-full p-3  border-inherit" type="text" pInputText class=""
                            formControlName="qualifyingServiceNetDays">
                    </div>
                </div>
            </form>
        </div>
        <div class="w-100" style="display: flex; justify-content: center">
            <p-button label="save" icon="pi pi-bookmark" styleClass="p-button-raised">
            </p-button>
        </div>
    </div>