/* Base styles for responsive containers */
.responsive-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 1rem;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
        padding: 0.75rem;
        text-align: left;
        font-size: 1rem;
        white-space: nowrap; /* Prevent content wrapping */
    }
    th {
        background-color: #f7f7f7;
        text-align: center;
    }
}
.butt1{
    margin-right:20px ;
    margin-bottom: 10px;
    display: inline-block;
}
.butt2{
    text-align: center;
}

/* Mobile-specific adjustments */
@media screen and (max-width: 900px) {
    .overflow-x-auto {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    p-table {
        display: block;
        min-width: 100%; /* Ensure full table width is scrollable */
        overflow-x: auto;
    }

    tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        padding: 0.5rem;
        border-radius: 5px;
    }

    td,
    th {
        display: block; /* Stack table cells for mobile */
        text-align: left;
        font-size: 0.875rem;
        width: 100%; /* Ensure full width for cells */
    }

    th {
        display: none; /* Hide headers on mobile */
    }

    td:before {
        content: attr(
            data-label
        ); /* Use data-label attribute for cell headers */
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
    }

    .fixed-width {
        width: 100%; /* Make fixed-width columns take full width */
    }
}

/* Tablet-specific adjustments */
@media screen and (max-width: 1200px) {
    th,
    td {
        font-size: 0.875rem;
    }
    .button-group {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .p-button-rounded {
        padding: 0.5em 0.75em; /* Smaller padding */
        font-size: 0.875rem;
    }
}
