<div class="grid">
    <div class="col-12">
        <app-common-header
            [headerName]="'Pension Component Details'"
            [imgSrc]="'assets/layout/images/icons/indent-entry.png'"
        >
            <button
                pButton
                pRipple
                (click)="createNewcomponent()"
                type="button"
                icon="pi pi-plus"
                label="New Entry"
                class="p-button-rounded p-button-raised"
            ></button>

        </app-common-header>
    </div>
    <div class="col-12">

        <app-dynamic-table
            *ngIf="isTableVisible"
            name=""
            [service$]="component$"
            [suffix]="suffix"
        ></app-dynamic-table>

        <!-- Placeholder when table is not visible -->
        <div class="svg-placeholder-container" *ngIf="!isTableVisible"
            style="display: flex; justify-content: center; align-items: center; height: calc(100vh - 300px); flex-direction: column;">
            <div class="col-12 h-full text-center bg-constellation">
                <!-- Load PPO Receipt Button -->
                <button pButton pRipple (click)="getData()" type="button" icon="pi pi-download"
                    label="Load Component Details" class="p-button-rounded p-button-raised">
                </button>
                <div class="mt-8">
                </div>
                <p class="text-gray-600">A journey of thousand miles begins with a single step...</p>
            </div>
        </div>
    </div>
</div>

<p-dialog (onHide)="onDiloagclose()"
    header="Pension Components Details"
    [(visible)]="displayInsertModal"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '991px': '90vw', '575px': '100vw' }" [maximizable]="true"
    [baseZIndex]="10000"
>
    <form [formGroup]="ComponentForm" class="flex flex-column gap-4 mt-3">
        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="description" class="block mb-1 text-color text-lg"
                    >Description:</label
                >
                <input
                    type="text"
                    pinputtext=""
                    formControlName="componentName"
                    placeholder="Description "
                    id="description"
                    class="p-inputtext p-component p-element w-full"
                />
            </div>
            <div class="flex-auto">
                <label for="payment" class="block mb-1 text-color text-lg"
                    >Component Type:</label
                >
                <p-dropdown
                    [options]="Payment_Deduction"
                    formControlName="componentType"
                    placeholder="Select payment or deduction"
                    [showClear]="true"
                    class="p-component p-element w-full"
                ></p-dropdown>
            </div>
        </div>

        <div class="flex gap-2 xl:flex-row flex-column">
            <div class="flex-auto">
                <label for="" class="block mb-1 text-color text-lg"
                    >Relief Allowed:</label
                >
                <p-toggleButton formControlName="reliefFlag" onLabel="Yes" offLabel="No" [style]="{'width': '10em'}"></p-toggleButton>
            </div>
        </div>
    </form>
    <div class="flex gap-2 justify-content-end pt-3">
        <button

            pButton
            label="Submit"
            (click)="addComponentDetails()"
            class="p-element p-ripple p-button-rounded p-button p-component"
            [disabled]="!ComponentForm.valid"
        ></button>

        <button
            pButton
            label="Cancel"
            (click)="cancelComponent()"
            class="p-element p-ripple p-button-rounded p-button p-component"
        ></button>
    </div>
</p-dialog>
