<div class="grid fadein animation-duration-500">

    <app-option-card  logo='pension-entry' optionName="Entry" class="col-12 lg:col-6 xl:col-3" [routerLink]="['entry']"></app-option-card>
    <!-- <app-option-card  logo='family-pension' optionName="Convert to Family Pension" class="col-12 lg:col-6 xl:col-3" [routerLink]="['convert-to-family-pension']"></app-option-card> -->
    <app-option-card  logo='life-certification' optionName="Life Certificate" class="col-12 lg:col-6 xl:col-3" [routerLink]="['life-certificate']"></app-option-card>
    <app-option-card  logo='ppo-receipt' optionName="PPO Receipt" class="col-12 lg:col-6 xl:col-3" [routerLink]="['ppo-receipt']"></app-option-card>
    <app-option-card  logo='family-pension' optionName="Convart to family pension" class="col-12 lg:col-6 xl:col-3" [routerLink]="['convart-to-family-pension']"></app-option-card>
    <app-option-card  logo='pension-status' optionName="Pensioner Status" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pensioner-status']"></app-option-card>
</div>
<router-outlet></router-outlet>



