<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="page">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
                style="border-radius:53px">
                <div class="login-container">
                    <div class="image-section" style="padding-top: 4rem;">
                        <img src="assets/layout/images/logo_mini.png" alt="ifms logo" id="logo"
                            style="margin-bottom: 1rem;">
                        <div class="illustration-container">
                            <img src="assets/layout/images/common/logout.jpg" alt="Illustration" class="illustration"
                                style="max-height: 300px;">
                        </div>
                    </div>

                    <div class="content-section" style="padding: 3rem;">
                        <span class="status-code">401</span>
                        <h1 class="title" style="font-size: 2.5rem;">You are not logged in</h1>
                        <p class="subtitle" style="font-size: 1.2rem; margin-bottom: 2.5rem;">Please log in to access
                            features.</p>
                        <button class="login-button" (click)="login()" style="padding: 1rem 3rem; font-size: 1.1rem;">
                            <span class="login-icon">→</span>
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>