<ul class="layout-menu">
    <!-- <button
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
        style="margin-bottom: 10px; padding-top: 20px;">
        <i class="pi pi-angle-left" style="font-size: 2em; color: white;"></i>
    </button> -->

    <ng-container *ngFor="let item of model; let i = index;" style="margin-top: 10px;">
        <app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></app-menuitem>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>

    <li style="position: absolute; bottom: 0px;">
        <div class="w-full text-white p-4 bold text-lg">
            <i class="pi pi-info-circle" style="color: white;"></i>
            <span> Version {{clientVersion}}</span>
        </div>
    </li>
</ul>
