<h2 class="bg-color text-xl"><b> First Pension Bill </b></h2>
<div class="card py-2">
    <form [formGroup]="FirstPensionForm">
        <div class="row">
            <div class="col-md-12 mb-2 mt-2">
                <div class="flex justify-content-center">
                    <!-- Radio Buttons for Bill Selection -->
                    <div class="mr-3">
                        <p-radioButton
                            name="generation"
                            value="generalBill"
                            formControlName="generation"
                            label="General Bill"
                        ></p-radioButton>
                    </div>
                    <div>
                        <p-radioButton
                            name="generation"
                            value="classificationBill"
                            formControlName="generation"
                            label="Classification Bill"
                        ></p-radioButton>
                    </div>
                </div>

                <!-- Divider with PPO Bill Label -->
                <p-divider align="left" type="solid">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-clone mr-2"></i>
                        <b>PPO Bill:</b>
                    </div>
                </p-divider>

                <!-- PPO ID, Search Icon, and Pensioner Name Input -->
                <div class="formgroup-inline">
                    <div class="grid col-12">
                        <!-- PPO ID Label and Input -->
                        <div class="col-12 md:col-4">
                            <label for="PpoId" class="col-12 md:col-4">
                                <b>PPO ID:</b>
                            </label>
                            <input
                                class="col-12 md:col-6 p-inputtext"
                                id="PpoId"
                                type="text"
                                pInputText
                                formControlName="ppoId"
                                placeholder="PPO ID"
                            />
                            <app-popup-table
                                class="absolute right-2 top-1/2 transform -translate-y-1/2 cursor-pointer"
                                name=""
                                [service$]="pensionComponent$"
                                (return)="handleSearchEvent($event)"
                            ></app-popup-table>
                        </div>

                        <div class="col-12 md:col-4">
                            <input
                                class="col-12 p-inputtext"
                                id="pensionerName"
                                type="text"
                                pInputText
                                formControlName="pensionerName"
                                placeholder="Pensioner Name"
                                readonly
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Buttons for Generate Report and Refresh -->
    <div class="flex flex-col mt-1 align-items-center justify-content-center">
        <div class="flex flex-wrap gap-2">
            <button
                pButton
                pRipple
                (click)="onGenerate(FirstPensionForm.value.generation)"
                type="button"
                class="p-button-raised p-button-info"
                [disabled]="!isFormValid()"
            >
                Generate Report
            </button>
            <button
                pButton
                pRipple
                (click)="onRefresh()"
                type="button"
                class="p-button-raised p-button-info"
            >
                Refresh
            </button>
        </div>
    </div>
</div>
