<h2 class="bg-color text-xl"><b>PPO Approval</b></h2>
<div class="card py-4">
    <form [formGroup]="ApprovalForm">
        <label for="PpoId"><b> PPO ID: </b></label>
        <div class="w-full flex gap-1">
            <input
                type="text"
                pInputTexts
                formControlName="ppoId"
                placeholder="PPO ID"
            />
            <app-popup-table
                name=""
                [service$]="idList$"
                (return)="handlePpoSearchEvent($event)"
            ></app-popup-table>
        </div>
    </form>
    <!-- Add p-dialog around the table -->

    <p-dialog
        header="PPO Details"
        [(visible)]="showTable"
        [breakpoints]="{ '1199px': '75vw', '991px': '90vw', '575px': '100vw' }"
        [maximizable]="true"
        [modal]="true"
        (onHide)="onDialogClose()"
    >
        <div class="col-12">
            <table class="table p-datatable p-component">
                <thead>
                    <tr>
                        <th>PPO Id</th>
                        <th>PPO Number</th>
                        <th>Pensioner's Name</th>
                        <th>Payment Mode</th>
                        <th>Account Holder</th>
                        <th>Bank Name</th>
                        <th>Bank Branch Name</th>
                        <th>IFSC Code</th>
                        <th>Bank Account Number</th>
                        <!-- <th>Expiry Date</th> -->
                        <th>Commencement Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                        <ng-container>
                            <td>{{ item.response.ppoId }}</td>
                            <td>{{ item.response.ppoNo }}</td>
                            <td>{{ item.response.pensionerName }}</td>
                            <td>
                                {{
                                    item.response.payMode === "Q"
                                        ? "Treasury"
                                        : "Bank"
                                }}
                            </td>
                            <td>{{ item.response.accountHolderName }}</td>
                            <td>{{ item.bankName }}</td>
                            <td>{{ item.branchName }}</td>
                            <td>{{ item.response.branch.ifscCode }}</td>
                            <td>{{ item.response.bankAcNo }}</td>
                            <td>
                                {{
                                    item.response.dateOfCommencement
                                        | date : "dd-MM-yyyy"
                                }}
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex flex-wrap gap-2 w-full justify-content-center">
            <p-button
                label="Approve"
                icon="pi pi-check"
                [disabled]="allowApproval"
                styleClass="p-button-success"
                (click)="approve(allowApproval)"
            >
            </p-button>
        </div>
    </p-dialog>
    <div
        style="
            border-bottom: 1px solid rgba(139, 167, 184, 0.514);
            margin: 20px 0;
        "
    ></div>
    <div class="flex flex-col mt-1 align-items-center justify-content-center">
        <div class="flex flex-wrap gap-2">
            <button
                pButton
                pRipple
                (click)="onRefresh()"
                type="button"
                class="p-button-raised p-button-info"
            >
                <i class="pi pi-refresh mr-2"></i>Refresh
            </button>
        </div>
    </div>
</div>
