<div class="container">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="flex flex-column gap-2 mt-4">
                    <div class="my-4 px-4">
                        <form [formGroup]="BillPrintForm">
                            <div class="grid">
                                <div class="col-12 md:col-6 mb-4">
                                    <label for="month" class="block mb-2">Month:</label>
                                    <p-dropdown
                                        [style]="{ width: '100%' }"
                                        [options]="months"
                                        formControlName="months"
                                        placeholder="Select a Month"
                                        [showClear]="true"
                                    ></p-dropdown>
                                </div>
                                <div class="col-12 md:col-6 mb-4">
                                    <label for="year" class="block mb-2">Year:</label>
                                    <p-calendar
                                        formControlName="year"
                                        view="year"
                                        dateFormat="yy"
                                        [showIcon]="true"
                                        (onSelect)="onYearSelect($event)"
                                        [style]="{ width: '100%' }"
                                    ></p-calendar>
                                </div>
                            </div>
                            <div class="col-12 md:col-12">
                                <p-divider align="left" type="solid">
                                    <div class="inline-flex align-items-center">
                                        <i class="pi pi-clone mr-2"></i>
                                        <b>SELECT</b>
                                    </div>
                                </p-divider>
                                <div class="formgroup-inline">
                                    <div class="field-radiobutton mb-3">
                                        <p-radioButton
                                            name="choices"
                                            value="all"
                                            formControlName="choices"
                                            label="All Bank/ All Category"
                                        ></p-radioButton>
                                    </div>
                                    <div class="field-radiobutton mb-3">
                                        <p-radioButton
                                            name="choices"
                                            value="allBankSpecificCategory"
                                            formControlName="choices"
                                            label="All Bank/Specific Category"
                                        ></p-radioButton>
                                    </div>
                                    <div class="field-radiobutton mb-3">
                                        <p-radioButton
                                            name="choices"
                                            value="specificBackAllCategory"
                                            formControlName="choices"
                                            label="Specific Bank/All Category"
                                        ></p-radioButton>
                                    </div>
                                    <div class="field-radiobutton mb-3">
                                        <p-radioButton
                                            name="choices"
                                            value="specificBankSpecificCategory"
                                            formControlName="choices"
                                            label="Specific Bank/Specific Category"
                                        ></p-radioButton>
                                    </div>
                                    <div class="field-radiobutton mb-3">
                                        <p-radioButton
                                            name="choices"
                                            value="specificBranchOrBranches"
                                            formControlName="choices"
                                            label="Specific Branch or Branches"
                                            (onChange)="onBranchChoiceChange()"
                                        ></p-radioButton>
                                    </div>
                                </div>
                                <p-divider align="left" type="solid">
                                </p-divider>
                                <div *ngIf="showBankInput()" class="grid align-items-center mt-2">
                                    <label for="bank" class="col-12 md:col-2 my-2">
                                        Select the Specific Bank:
                                    </label>
                                    <div class="col-12 md:col-6">
                                        <p-dropdown [style]="{width: '100%'}"
                                                    [options]="banks"
                                                    optionLabel="label"
                                                    [filter]="true"
                                                    filterBy="name"
                                                    [showClear]="true"
                                                    (onChange)="onChangeBank($event)"
                                                    formControlName="bank"
                                                    placeholder="Bank Name">
                                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                                <div class="flex align-items-center gap-2">
                                                    <div>{{ selectedOption.label }}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>

                                <div *ngIf="showCategoryInput()" class="grid align-items-center mt-2">
                                    <label for="category" class="col-12 md:col-2 my-2">
                                        Select the Specific Category:
                                    </label>
                                    <div class="col-12 md:col-6 flex">
                                        <input id="category"
                                               class="col-12"
                                               type="text"
                                               pInputText
                                               formControlName="category"
                                               placeholder="Category"/>
                                    </div>
                                    <app-popup-table name=""
                                                     [service$]="categoryComponent$"
                                                     (return)="handleCategorySearchEvent($event)">
                                    </app-popup-table>
                                </div>
                                <!-- Dropdown for bank selection for branches -->
                                <div *ngIf="showBankForBranches()" class="grid align-items-center mt-2">
                                    <label for="bank" class="col-12 md:col-2 my-2">Select Bank:</label>
                                    <div class="col-12 md:col-6">
                                        <p-dropdown
                                            [options]="banks"
                                            optionLabel="label"
                                            formControlName="bank"
                                            (onChange)="onChangeBankForBranches($event)"
                                            placeholder="Select a Bank"
                                        ></p-dropdown>
                                    </div>
                                </div>

                                <!-- MultiSelect for branches -->
                                <div *ngIf="banksBranch && banksBranch.length > 0" class="grid align-items-center mt-2">
                                    <label class="col-12 md:col-2 my-2">Select Branches:</label>
                                    <div class="col-12 md:col-6">
                                        <p-multiSelect
                                            [options]="banksBranch"
                                            optionLabel="branchName"
                                            [filter]="true"
                                            [showClear]="true"
                                            placeholder="Select Branches"
                                            formControlName="selectedBranches"
                                            (onChange)="onBranchSelectChange($event)"
                                        ></p-multiSelect>
                                        <div *ngIf="BillPrintForm.get('selectedBranches')?.value.length > 0" class="mt-2">
                                            Selected Branches: {{ BillPrintForm.get('selectedBranches')?.value.length }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div
                    class="flex flex-col mt-1 align-items-center justify-content-center"
                >
                    <div class="flex flex-wrap gap-2">
                        <button
                            pButton
                            pRipple
                            (click)="onGenerate(BillPrintForm.value.choices)"
                            type="generateReport"
                            class="p-button-raised p-button-info"
                            [disabled]="!BillPrintForm.valid"
                        >
                            Generate Report
                        </button>
                        <button
                            pButton
                            pRipple
                            (click)="onRefresh()"
                            type="refresh"
                            class="p-button-raised p-button-info"
                        >
                            Refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>