<div class="grid fadein animation-duration-500">
    <app-option-card  logo='stamp' optionName="component rate revision" class="col-12 lg:col-6 xl:col-3" [routerLink]="['component-rate-revision']"></app-option-card>
    <app-option-card  logo='pension' optionName="Pension category" class="col-12 lg:col-6 xl:col-3" [routerLink]="['pension-category']"></app-option-card>
    <app-option-card  logo='stamp' optionName="component" class="col-12 lg:col-6 xl:col-3" [routerLink]="['component']"></app-option-card>
    <app-option-card  logo='stamp' optionName="primary category" class="col-12 lg:col-6 xl:col-3" [routerLink]="['primary']"></app-option-card>
    <app-option-card  logo='stamp' optionName="sub category" class="col-12 lg:col-6 xl:col-3" [routerLink]="['sub-category']"></app-option-card>
    <app-option-card  logo='stamp' optionName="component rate" class="col-12 lg:col-6 xl:col-3" [routerLink]="['component-rate']"></app-option-card>
</div>
