<style>
    .h-36px{
        height: 45px;
    }

    .h-full{
        height: 100%;
    }
    .h-50{
        height: 50%;
    }
    .w-100{
        width: 100%!important;
    }
    .w-50{
        width: 50%;
    }
    .mb-2{
        margin-bottom: 2px;
    }
</style>
<div class="container">
    <div class="grid">
      <div class="col-12">
            <div class="card">
                <form [formGroup]="revisionOfComponentsForm">
                    <p-fieldset legend="Revision Component">
                        <div class="p-formgrid grid mb-6">
                            <div class="field col-12 md:col-6 h-36px mt-4">
                                <label htmlFor="selectPensionProperty" class="text-lg">PPO Id</label>
                               <div class="flex gap-2 w-full">
                                <input  class="h-36px h-50%" style="width: 45%;" pInputText type="text" formControlName="ppoId"/>
                                <input  class="h-36px h-50%" style="width: 45%;" pInputText type="text" formControlName="slNo"/>
                                <app-popup-table [buttonStyle]="{height:'100%'}" [service$]="allPensionPPOIds$" (return)="handleSelectedRowByPensionPPDetails($event);"></app-popup-table>
                               </div>
                            </div>

                            <div class="field col-12 md:col-6 h-36px mt-4">
                                <label htmlFor="selectPensionProperty" class="text-lg">PPO Number</label>
                                <input  class="h-36px w-full" pInputText type="text" formControlName="ppoNumber"/>
                            </div>

                            <div class="field col-12 md:col-6 h-36px mt-4">
                                <label htmlFor="selectPensionProperty" class="text-lg">Pensioner Name</label>
                                <input  class="h-36px w-full" pInputText type="text" formControlName="pensionerName"/>
                            </div>

                            <div class="field col-12 md:col-6 h-36px mt-4">
                                <label htmlFor="selectPensionProperty" class="text-lg">Category Description</label>
                                <input  class="h-36px w-full" pInputText type="text" formControlName="categoryDescription"/>
                            </div>

                            <div class="field col-12 md:col-6 h-36px mt-4">
                                <label htmlFor="selectPensionProperty" class="text-lg">Bank</label>
                                <input  class="h-36px w-full" pInputText type="text" formControlName="bank"/>
                            </div>                            
                        </div>
                        <div class="flex justify-content-end align-items-center" >
                            <p-selectButton [options]="paymentOptions" formControlName="radioButton" optionLabel="name"  class="h-full"></p-selectButton>
                        </div>
                        <!-- table -->
                        <div *ngIf="showTable" class="p-formgrid grid mb-6">
                            <p-table [columns]="cols" [value]="products" [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td *ngFor="let col of columns">
                                            {{rowData[col.field]}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            
                        </div>
                        <!-- Buttons -->
                        <div class="w-full flex gap-2 justify-content-center align-items-center" style="height: 80px;">
                          <button pButton label="Search" 
                          icon="pi pi-search"
                            style="height: 45px"></button>

                            <button pButton label="Insert" 
                            icon="pi pi-plus"
                            disabled="true"
                              style="height: 45px"></button>

                          <button pButton label="Modify" 
                          icon="pi pi-upload"
                          class="p-button-warning"
                          style="height: 45px;"></button>
                        
                          <button pButton label="Save" 
                            disabled="true"
                            icon="pi pi-bookmark"
                              style="height: 45px" class="p-button-success"></button>
                              
                          <button pButton label="Reset" 
                          icon="pi pi-refresh"
                          class="p-button-success"
                          style="height: 45px;"
                          (click)="revisionOfComponentsForm.reset(); tableDisable();"></button>
                        </div>
                    </p-fieldset>
               </form>
            </div>
        </div>
    </div>
</div>

